@use '../../abstracts' as *;



.profile_wrap {
	border: 1px solid red;
	height: 70vh;
	border-radius: 170px 0 0 0;
	margin-bottom: 26px;

	h1 {
		font-size: 1.4rem;
		font-weight: 300;
		position: absolute;
	}
}