@use '../../abstracts' as *;


.contact_wrap {
	background: linear-gradient(to top, #0C1429, #283673 70%);
	height: 70vh;
	// margin-bottom: 26px;
	padding: 60px 30px;
	
	h2 {
		position: absolute;
		right: 0;
		background: #2E3D78;
	}
}