@charset "UFT-8";

@use 'abstracts' as *;
@use 'layout';

// Global Styles
// <link rel="preconnect" href="https://fonts.googleapis.com">
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"');

*,:before,:after {box-sizing: border-box;}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video { margin: 0; padding: 0; }

:root { font-size: 62.5%; }

body {background: $bg-color; padding: 34px; height: 100vh;}
body, input, button, select, textarea, table {
	font-family: "Noto Sans", sans-serif;
	font-size: 1.6rem;
	color: #fff;
}
li{list-style: none;}
button {cursor: pointer;}
#root {
	height: 100%;
	
	#main {
		height: 100%;
		display: flex;
		gap: 26px;
	
		.left_content { width: 100%; }
	
		.right_content {
			position: relative;
			width: 60%;
			min-width: 550px;
			max-width: 600px;
		}
	}
}



